<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css">
    <title>TrailsTracker</title>
</head>

<body>
    <header>
        <h1>
            <%= trail.name %>
        </h1>
    </header>
    <main>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/trails">Trails My Trail List</a>
        </li>

        <section>
            <h2>Trail Specs</h2>
            <ul>
                <li>Name: <%= trail.name %></li><br />
                <li>Length: <%= trail.length %></li><br />
                <li>Difficulty: <%= trail.difficulty %></li><br />
                <li>POI: <%= trail.poi %></li><br />
                <li>Notes: <%= trail.notes %></li><br />
            </ul>
        </section>
        <section>
            <form action="/trails/<%= trail.id %>?_method=DELETE" method="POST">
                <input type="submit" value="Delete Trail">
            </form>
        </section>
        <section>
            <a href="/trails/<%= trail._id %>/edit">Edit</a>
        </section>
    </main>
</body>

</html>